<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="footer__inner">
          <div class="row align-items-center">

            <div class="col col-4 col-d-12">
              <a class="logo__link" href="{{ site.baseurl }}/">
                {% if site.data.settings.logo %}
                  <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo | escape }}" alt="{{ site.data.settings.title | escape }}">
                {% else %}
                  {{ site.data.settings.title | escape }}
                {% endif %}
              </a>
            </div>

            <div class="col col-4 col-d-12">
              {% assign active_lang = site.active_lang | default: site.default_lang %}
              {% assign footer_menu = site.data.settings.footer__menu__settings[active_lang].menu__items | default: site.data.settings.footer__menu__settings.menu__items %}
              <div class="footer-nav">
                <ul class="footer-nav__list list-reset">
                {% for item in footer_menu %}
                  <li class="footer-nav__item"><a href="{{ site.baseurl }}{{ item.url }}" class="footer-nav__link">{{ site.data.i18n[active_lang][item.title] | default: item.title | escape }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>

            <div class="col col-4 col-d-12">
              <div class="social">
                <ul class="social__list list-reset">
                  {% for social in site.data.settings.social %}
                  <li class="social__item">
                    <a class="social__link" href="{{ social.link }}" target="_blank" rel="noopener" aria-label="{{ social.name }} link"><i class="ion {{ social.icon }}"></i></a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
