<!-- begin header -->
<header class="header{% if page.url == '/' %} header--dark{% endif %}">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo | escape }}" alt="{{ site.data.settings.title | escape }}">
          {% else %}
            {{ site.data.settings.title | escape }}
          {% endif %}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">

            {% assign active_lang = site.active_lang | default: site.default_lang %}
            {% assign menu = site.data.settings.menu__settings[active_lang].menu__items | default: site.data.settings.menu__settings.menu__items %}

            {% for item in menu %}
              {% if item.submenu %}
              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle">{{ site.data.i18n[active_lang][item.title] | default: item.title | escape }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                <div class="dropdown-menu">
                {% for submenu-item in item.submenu %}
                <div>
                  <a href="{{ site.baseurl }}{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{ site.data.i18n[active_lang][submenu-item.title] | default: submenu-item.title | escape }}</a>
                </div>
                {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav__item">
                <a href="{{ site.baseurl }}{{ item.url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ site.data.i18n[active_lang][item.title] | default: item.title | escape }}</a>
              </li>
              {% endif %}
            {% endfor %}
            
            <!-- Language Switcher -->
            <li class="nav__item lang-switcher">
              {% if site.active_lang == 'fr' %}
                <a href="{{ site.baseurl }}/en{{ page.url }}" class="nav__link">🇬🇧 EN</a>
              {% else %}
                <a href="{{ site.baseurl }}{{ page.url | replace_first: '/en', '' }}" class="nav__link">🇫🇷 FR</a>
              {% endif %}
            </li>

            </ul>
          </div>

          <div class="nav-button">
            <i class="nav__icon icon__search ion ion-md-search"></i>
          </div>
        </nav>

      </div>
    </div>
  </div>
  <div class="header__overlay"></div>
</header>
<!-- end header -->

{% include search.html %}
