<!-- begin pagination -->
<div class="container animate">
  {% assign active_lang = site.active_lang | default: site.default_lang %}
  {% assign lang_posts = site.posts | where: "lang", active_lang %}
  {% assign postCount = lang_posts | size %}
  {% assign currentPage = paginator.page | default: 1 %}
  {% assign postsCovered = currentPage | times: site.paginate %}
  {% if postsCovered < postCount %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="load-more-posts button button--primary">Load More</a>
    {% endif %}
  </div>
  {% endif %}
</div>
<!-- end pagination -->